#home{
	background: #fff url(../img/bg1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100vw;
	min-height: 800px;
	overflow: hidden;
}

#about, #portfolio, #resume, #blog{
	background: #eee;
	width: 100vw;
	height: 100vh;
}
.my-title{
	color: #000;
	position: relative;
	top: 375px;
	left: 8%;
	display: inline-block;
}
.my-title h1, .my-title h3{
	font-weight: normal;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.my-title h1{
	font-size: 72px;
	line-height: 79px;
	padding: 10px;
	margin-left: -19px;
}

.my-title h3{
	font-size: 24px;
	line-height: 31px;
	padding: 5px;
}

.my-title h1 span, #about h2 span{
	font-size: 80px;
	color: #e91c6b;
}

/*Tile Summary*/
.summary p{
	text-align: center;
	font-size: 25px;
	color: #fff;
	line-height: 120%;
	font-family: 'Roboto Slab', serif;
}

.summary{
	padding: 25px;
}

.summary .add-on{
	font-size: 13px;
}

.summary .add-on-big{
	font-size: 30px;
}

/*Tile Positioning*/
.about, .profile-pic, .portfolio{
	position: relative;
	top: -45px;
	left: 600px;
}

.resume{
	position: relative;
	top: 155px;
	left: 200px;
}

.blog{
	position: relative;
	top: 355px;
	left: 0;
}

/*Overriding Metro CSS*/
.metro .tile{
	width: 200px;
	height: 200px;
	margin: 0;
}

#home i{
	border:5px solid #fff;
	border-radius: 50%;
	height: 110px;
	width: 110px;
	line-height: 90px;
	font-size: 75px;
	margin-top: -55px;
	margin-left: -55px;
}

#home .tile-status{
	text-align: center;
}


#home .tile-status span{
	font-size: 20px;
	margin: 0 auto;
}

/*Helpers*/
.hidden{
	display: none;
}

/*Vertical Menu*/
.nav ul li{
	list-style: none;
	height: 20%;
}

.nav ul li:hover{
	cursor: pointer;
}

.nav{
	display: inline-block;
	position: fixed;
	top: 0;
	height: 100vh;
}

.nav ul{
	margin: 0;
	height: inherit;
}

.nav ul li .tile{
	width: 150px;
	height: 100%;
}

.nav ul li .tile .tile-status span{
	text-align: center;
	font-size: 25pt !important;
	vertical-align: middle;
	display: table-cell !important;
	width: 100%;
}

.nav ul li .tile .tile-status{
	display: table !important;
	width: 100%;
	height: 100%;
}

.nav ul li .tile a{
	display: inline-block;
	width: 100% ;
	height: 100% ;
}

/*About Section*/
article{
	width: 75%;
	margin: 0px auto;
}

#about article h2{
	font-size: 60px;
	padding: 20px 0 30px 0;
}

#about article p{
	font-family: 'Oxygen', sans-serif;
	font-size: 30px;
	line-height: 40px;
}

#about .highlight{
	color: #e91c6b;
}

#about article img{
	position: relative;
	float: left;
	margin-top: 30px;
}

/*Portfolio Section*/
#portfolio article{
	outline: 1px solid black;
}

/*Social media icons effects*/
.social{
	display: inline;
	position: relative;
	top: 5em;
}

.social-popout {
	/*float: left;*/
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.social-popout img {
	border-radius: 50%;
	margin: 8px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.social-popout img:hover {
	margin: 0px;
	box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}